python-dotenv>=1.0.0
yfinance>=0.2.40
finnhub-python>=2.4.20
websocket-client>=1.7.0
pandas>=2.2.0
numpy>=1.26.0
psycopg2-binary>=2.9.9
mplfinance>=0.12.10b0
matplotlib>=3.8.0
pandas-market-calendars>=4.4.0
pytz>=2024.1
TA-Lib>=0.4.28
